

.name{
text-align: center;
}

.image{
  width: 200px;

}

.text{

text-align: left;
font-size: 15px;
display:inline-block;


}
.text_container{
  text-align: center;
  width: 400px;






}


.block1 {
  width: 500px;
  background: white;
  padding: 5px;
  float: суinherit;
  width: 80%;
  max-width: 500px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);

 }

body {
   background: #efefef;
}
