*{
  margin: 0;
  padding: 0;
}


.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.wrapper {
  margin: 0 auto;
  padding: 20px 16px 0 45px;
  width: 1000px;
}
header {
  height: 35px;
  width: 100%;
}
.telephone {
  float: left;
  display: block;
}
.telephone ul {
  margin-left: -1px;
  padding-top: 2px;
}
.telephone .circle {
  margin-top: -3px;
  margin-left: 4px;
  width: 22px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #0c3357, #1f6786);
  text-align: center;
}
.telephone li {
  float: left;
  padding-top: 4px;
  padding-left: 3px;
  color: #5e696d;
  list-style: none;
  font-size: 18px;
  font-family: "Arial Regular", sans-serif;
  letter-spacing: 0.55px;
}
.avtoriz {
  float: left;
  margin-left: 14px;
  margin-top: -2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  padding-left: 5px;
  height: 22px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #1f6787, #0d3458);
  box-shadow: 0 2px 5px #b4b4b4;
}
.avtoriz li {
  float: left;
  list-style: none;
  padding: 2px;
}
.avtoriz a {
  display: block;
  padding: 3px 0px;
  font-size: 11px;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.avtoriz input {
  width: 103px;
  height: 13px;
  font-size: 12px;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  color: #97a2a6;
  padding: 0px 5px 0px 4px;
  line-height: 0.9;
}
.avtoriz li:last-child>a {
  padding: 0px 5px 0px 15px;
  line-height: 1.8;
  text-decoration: underline;
  color: #bfbfbf;
  letter-spacing: 1.1px;
}
.avtoriz li:nth-child(3) a {
  border-right: 1px solid #fff;
  padding: 3px 4px 0px 5px;
}
nav {
  float: left;
  margin: 1px 0px 0px 16px;
  padding: 1px 8px 1px 5px;
  border-radius: 10px;
  border-color: #c1c8cb;
  box-shadow: 0px 1px #c1c8cb;
}
nav li {
  float: left;
  padding: 2px 4px 0px 2px;
}
menu {
  margin-top: 3px;
  margin-bottom: 1px;
  width: 908px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid #2d355b;
  background: linear-gradient(180deg, #6d757c 20%, #040405 80%);
  box-shadow: 0 3px 5px 0px #040405;
}
.menu {
  margin-left: 129px;
}
.menu li {
  float: left;
  list-style: none;
  text-align: center;
  margin: 1px 0px 0px 0px;
  padding: 7px 18px 5px 16px;
}
.menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  color: #b1bcc0;
}
.menu li:hover {
  background: #185476;
  border-radius: 17px;
  padding: 6px 16px 5px 16px;
}
.menu a:hover {
  color: #fff;
}
.menu li:nth-child(4) {
  padding-left: 13px;
}
.menu li:last-child {
  padding-left: 6px;
}
.korzina {
  float: right;
  margin: 5px 9px 0 0;
}
.korzina li {
  float: left;
  padding: 4px 4px 0 0;
  font-size: 12px;
  color: #929b9f;
  font-family: "Arial Regular", sans-serif;
  line-height: 1.2;
  text-align: left;
}
.korzina li:first-child {
  padding-top: 3px;
}
.korzina li:nth-child(3) {
  padding: 5px 5px 0 0;
  margin-right: 9px;
  color: #0d5a8f;
}
.korzina li:last-child {
  color: #0d5a8f;
  margin-left: 9px;
}
.find_auto {
  float: left;
  margin: 13px 4px 0px 4px;
  width: 413px;
  height: 132px;
  border-radius: 17px;
  border: 1px solid #b6b6b7;
  box-shadow: 0px 5px 5px 0px #a4a4a4;
}
.find_auto .labels ul {
  display: inline-block;
  width: 100%;
}
.find_auto .labels li {
  float: left;
  width: 88px;
  padding: 2px 18px 3px 20px;
  text-align: left;
  font-size: 10px;
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  color: #154468;
}
.find_auto .labels li:nth-child(2) {
  padding: 1px 0 0 0;
  width: 156px;
  font-size: 12px;
  color: #154467;
  text-align: center;
  letter-spacing: 0.3px;
}
.find_auto .labels li:last-child {
  text-align: right;
}
.find_auto .disk {
  float: left;
  display: inline-block;
  width: 200px;
}
.find_auto label {
  font-size: 10px;
  font-family: "Arial Regular",sans-serif;
  color: #000;
}
.find_auto .shiny {
  float: right;
  display: inline-block;
  width: 200px;
}
.find_auto span {
  font-size: 8px;
  font-family: "Arial Regular",sans-serif;
  color: #77858b;
}
.find_tires {
  float: left;
  margin: 13px 5px 0px 9px;
  width: 192px;
  height: 132px;
  border-radius: 17px;
  border: 1px solid #b6b6b7;
  box-shadow: 0px 5px 5px 0px #a4a4a4;
}
.find_disk {
  float: left;
  margin: 13px 4px 0px 4px;
  width: 268px;
  height: 132px;
  border-radius: 17px;
  border: 1px solid #b6b6b7;
  box-shadow: 0px 5px 5px 0px #a4a4a4;
}
main {
  margin-top: 15px;
  width: 1000px;
  height: 625px;
}
.main_capt1 {
padding: 1px 3px;
margin: 2px -3px 13px;
width:175px;
height: 23px;
border: 1px solid #8b979c;
box-shadow: 0px 3px 3px 0px #8b979c;
border-radius: 20px;
}
.main_capt1 span {
  display: block;
  margin: -22px 0 0 25px;
  font-size: 13px;
  text-transform: uppercase;
  color: #114165;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  }
.next_capt {
  padding: 2px 3px;
  margin: 3px 0 2px;
  width: 143px;
  height: 22px;
  border: 1px solid #79878d;
  border-radius: 15px;
}
.next_capt span {
  display: block;
  margin: -22px 0 0 26px;
  font-size: 14px;
  text-transform: uppercase;
  color: #114165;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
}
.catalog {
  float: left;
  display: block;
  width: 191px;
  height: 625px;
}
.catalog ul {
  padding: 0px;
  margin-left: 34px;
  margin-bottom: -5px;
}
.catalog li {
  list-style: none;
}
.catalog li:before {
  content: url('../img/list_marker.png');
  margin: 0;
}
.catalog a {
  text-decoration: none;
  font-size: 12px;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  color: #465961;
  line-height: 2.1;
  letter-spacing: 0.6px;
}
.catalog a:hover {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  line-height: 1.8;
}
.tovary {
  float: left;
  display: block;
  width: 525px;
  height: 628px;
  background: linear-gradient(to bottom, #e5e7e8, #93a7b0);
  border-radius: 4px;
}
.line {
  display: inline-block;
  clear: both;
  margin: 0px 7px -11px;
}
.line figure {
  display: block;
  height: 128px;
  width: 136px;
  border:1px solid #b0b9bc;
  border-radius: 7px;
  background: #fff;
}
.line a {
  float: left;
  margin: 10px;
  text-decoration: none;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  text-align: center;
  padding: 5px;
}
.line h4 {
  color:#206988;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
}
.line p {
  color:#1f2528;
  font-size: 13px;
  letter-spacing: 0.3px;
  padding-left: 4px;
}
.line p:last-child {
  color: #114165;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-style: italic;
margin-top: 5px;
margin-left: 6px;
}
.line .move {
  margin-left: -7px;
  letter-spacing: 1px;
}
.tovary div:last-child {
  margin-top: 3px;
}
.brend {
  float: left;
  display: block;
  margin: -1px 0 0 12px;
  width: 193px;
  height: 625px;
}
.main_capt2 {
padding: 1px 3px;
margin: 2px -3px 13px;
width:173px;
height: 23px;
border: 1px solid #8b979c;
box-shadow: 0px 3px 3px 0px #8b979c;
border-radius: 20px;
}
.main_capt2 span {
  display: block;
  margin: -23px 0 0 26px;
  font-size: 13px;
  text-transform: uppercase;
  color: #114165;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  }
.sec_capt {
  display: inline-block;
  padding: 2px 3px;
  margin: 0 0 0 11px;
  width: 130px;
  height: 22px;
  border: 1px solid #79878d;
  border-radius: 15px;
}
.sec_capt span {
  display: block;
  margin: -22px 0 0 28px;
  font-size: 14px;
  text-transform: uppercase;
  color: #114165;
  font-family: "Lucida Sans Unicode Regular", sans-serif;
}
.brend form {
  margin: 3px 0 0 22px;
}
.brend form label {
  font-family: "Lucida Sans Unicode Regular", sans-serif;
  font-size: 13px;
  color: #465961;
  line-height: 2;
}
.brend form div:last-child {
  margin-bottom: 8px;
  margin-top: -2px;
}
.brend form button {
  margin: 15px 0 0 -1px;
  width: 80px;
  height: 25px;
  border-color: #7a95a1;
  border-radius: 11px;
  box-shadow: 1px 1px 5px #bec0c1;
  background: linear-gradient(to bottom, #1f6787, #0c3357);
  text-transform: uppercase;
  font-family: "Arial Regular", sans-serif;
  font-size: 11px;
  color: #e5e9ea;
  letter-spacing: 0.9px;
}
.logos {
  display: block;
  margin: 42px 0 21px 107px;
}
footer {
  width: 907px;
  height: 97px;
  text-align: center;
  background-color: #213a4d;
}
footer .nav {
  display: inline-block;
  margin: 0 auto;
  height: 39px;
}
footer ul {
  margin-left: 4px;
  padding-top: 2px;
}
footer li {
  float: left;
  padding: 0 13px;
  margin: 11px 0 0;
  line-height: 0.8;
  border-left: 1px solid #8d989f;
}
footer li:first-child {
  border-left: none;
}
footer a {
  text-decoration: none;
  font-family: "Arial Regular", sans-serif;
  font-size: 12px;
  color: #bec6c9;
}
footer a:hover {
  color: #52abcb;
}
footer p {
  font-family: "Arial Regular", sans-serif;
  font-size: 10px;
  color: #7f4740;
}
