* {
  margin: 0;
  padding: 0;
}



@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.container{
display: block;
margin: auto;
}



.header{
  height: 36px;
  background-image: url(../img/headermenu.png);

}


li{

display: inline-block;
padding-right: 25px;
padding-top: 8px;
float: left;


}


.menu1 li a{
padding: 10px 5px 10px 5px;
}



}
.menu1{
padding-left: 500px;

  height: 36px;



}

.menu2{


}
.menu1  li a{
  text-decoration: none;
  color: #60b5ee;
  font-family: Helvetica Neue;
  font-size: 14px;

}



.menu1 li :hover{
   background-color: #4eabda;
   color: white;




}







.menu2 li :hover{
  background-image: linear-gradient(to top, #2e7ac4 0%, #4daada 100%);




}

.menu2 li a{
padding: 10px 5px 10px 5px;
}



.line{
  float:left;
}

.flag{
  padding-left: 20px;
}



.menu22{
margin-left: -15px;
}

.menu2 li a{
  text-decoration: none;
  color: white;
  font-family: Helvetica Neue;
  font-size: 14px;
}
.menu33{
  margin-left: 15px;
}

.content {
background-image: url(../img/bg.png);
height: 1028px;
background-size: cover;

}

.form {

  background-color:rgba(0, 0, 0, 0.5);;
  width: 560px;
  height: 613px;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
text-align: center;

}
.zagolovok span{
  font-family: Helvetica Neue;
font-size: 24px;
color: white;
display: block;
margin: 20px;


}

.or{
margin-left: 140px;
width: 50%;

}


.or span{
  font-family: Helvetica Neue;
  font-size: 14px;
  color: grey;
}
.facebook {
margin: 30px 0 5px 0;
}
.checkbox{
  display: block;

}
.button {
       display: block; /* отображаем блоком */
       width: 149px; /* длинна кнопки */
       height: 20px; ddddpx; /* высота кнопки */
color: white;
       font-size: 14px;
      background-image: url(../img/button.png);
       text-align: center; /* выравнивание по центру */
       text-decoration: none; /* убрали подчеркивание */
       border-radius: 5px; /* круглые края */
       padding-top: 9px; /* выровняли текст по вертикали */
       padding-bottom: 5px;
       font-family: Helvetica Neue; /* задали шрифт */
       margin-left: 200px;
}


#field{
  width: 276px;
  height: 35px;
  background-color: black;
  border: none;
  border-bottom: 1px solid grey;
margin-top: 15px;
padding-left: 20px;
font-size: 14px;
font-family: Helvetica Neue;
}


.colortext{
  color: white;
}


.checkbox{
  color: white;
  margin: 20px;
  font-family: Helvetica Neue;
  font-size: 14px;
}


.lower{
  color: white;
width: 360px;
font-family: Tahoma;
font-size: 12px;
padding: 20px 0 0 80px;
}

.or span {
  font-family: Helvetica Neue;
  font-size: 11px;
}
